<nav>
  <div class="container mx-auto nav-wrap">
    <h1 class="m-0 logo text-glow"><a routerLink="/show">interns.</a></h1>
    <ul class="m-0 menu">
      <li>
        <a
          routerLink="show"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >หน้าแรก</a
        >
      </li>
      <li>
        <a routerLink="register" routerLinkActive="link-active">สมัครสมาชิก</a>
      </li>
      <li *ngIf="!isLogin()">
        <a routerLink="login" routerLinkActive="link-active">เข้าสู่ระบบ</a>
      </li>
      <li *ngIf="isLogin()">
        <a style="cursor: pointer" (click)="logout()">ออกจากระบบ</a>
      </li>
    </ul>
  </div>
</nav>
