.example-card {
  max-width: 400px;
  /* max-height: 50%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1cm;
}

.header-image {
  background-image: url("https://cf.shopee.co.th/file/03d8c42c678476322943c02fa8b8fd51");
  background-size: cover;
}
