img.banner {
  width: 100%;
}

.centered {
  width: 100%;
  position: absolute;
  top: 63px;
  padding-left: 10%;
  padding-right: 8px;
  text-align: left;
  color: #fff;
  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.content {
  margin-bottom: 2rem;
  h3 {
    font-weight: 700;
  }
  .invalid-feedback p {
    margin: 0;
  }
  .img-preview {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 1rem;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    button {
      &:hover {
        background: rgb(19, 122, 224);
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 700;
    }
  }
  .btn-submit {
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    transition: 0.3s;

    &:hover {
      background-color: rgb(103, 179, 255);
    }
  }
}

.price-tag {
  background-color: dodgerblue;
  color: #fff;
  padding: 0 5px;
  border-radius: 4px;
  font-size: 14px;
}

.after-selected-race {
  img {
    width: 100%;
  }
  .select-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    gap: 10px;
  }
}
// Test

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 1px solid dodgerblue;
  font-size: 16px;
  line-height: 52px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.checkbox-budget:not(:checked) + label {
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label {
  color: #fff;
  background-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #fff !important;
  background-color: dodgerblue;
  z-index: -1;
}

.date-border {
  height: 38px !important;
  font-size: 1rem;
  padding: 0;
  margin-top: -0.31em;
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(93, 93, 93);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(93, 93, 93);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(93, 93, 93);
  }
}
// :host ::ng-deep div.mat-form-field-outline-start {

// }

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  // border: 1px solid #c0c5ca;
  border-top: 0px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 100% !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  border: 0px;
  // padding-bottom: 0px;
}

.fa-plus-circle {
  color: green;
  font-size: 2rem;
  cursor: pointer;
}

.fa-trash-alt {
  color: #dc3545;
  font-size: 1.2rem;
  margin-left: 5px;
  cursor: pointer;
}
